:root {
  --color-primary:  #fbf4dc;
  --color-secondary: #fbabac;
  --text-color-primary:  #322436;
  --text-color-secondary: #df4a5b;
  --matches-color: #e4ab42;
  --matches-color-hover: #d4a284;
}
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  padding: 20px;
  font-family: 'Sigmar One', courier;
  color: var(--text-color-primary);
  
}

h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase; 
  margin: 20px 0 10px 10px; 
  
}

.App {
  text-align: center;
  width: 80%;
  height: 80%;
 
  
  }

.ScoreBox {
  text-align: center;
  padding: 10px;
  width: 20%;
  height: 10%;
  background-color: var(--color-secondary);
  color: var(--text-color-secondary);
  border-radius: 35px;
  font-size: 26px;  
 
}
.Board {
  
  height: 15%;
  display: flex;
  
  justify-content: center;
  left: 10% ;
  border: 1px solid  var(--color-secondary);
  border-radius: 35px;
  padding: 2%;
}

.Match {
  background-color: var(--matches-color);
  width: 30px;
  height: 40px;
  margin: 5px; 
  border-radius: 90px;
}

.Match:hover {
  
  background-color: var(--text-color-secondary);
}

.PlayerInfo{
 
 
  margin: 5%;
  padding: 2%;

}
.TurnBtn {
  background-color: var(--text-color-secondary);
  color: white;
  text-align: center;
  padding: 10px;
  width: 20%;
  height: 10%;
  border-radius: 35px;
  font-size: 26px;  
  display: inline;
  float: right;
  font-family: 'Sigmar One', courier;
}

.TurnBtn:hover {
  background-color: var(--color-secondary);
  color: white;
 
  width: 20%;
  height: 10%;
  
  
}

.ChooseMatches {
  text-align: center;
  padding: 10px;
  width: 20%;
  height: 10%;
  background-color: var(--color-secondary);
  color: var(--text-color-secondary);
  border-radius: 35px;
  font-size: 26px;  
}